body {
	background-color: lightblue;
	}
	
h1 {
	color: black;
	text-align: center;
	}
	
h2 {
	color: black;
	}	
	
p {
	color: black;
	}
	
.container {
  background: black;
  display: inline-block;
  border: 3px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-gap: 3px;
}

.cell {
  justify-content: center;
  align-items: center;
  display: flex;
  background: white;
  align-content: center;
}

#validate {
	position: fixed;
	bottom: 0px;
	right: 0px;
}
